global
    log stdout format raw local0
    ssl-default-bind-options ssl-min-ver TLSv1.2
    ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA:AES256-SHA:@SECLEVEL=1
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 10s
    timeout client 1h
    timeout server 1h

listen irc_tls_6695
    bind :6695 ssl crt /usr/local/etc/haproxy/certs/irc.pem
    server irc warframe-irc-server:6695 ssl verify none ssl-min-ver TLSv1.2 ssl-max-ver TLSv1.2 ciphers AES128-SHA:@SECLEVEL=1

listen irc_tls_6696
    bind :6696 ssl crt /usr/local/etc/haproxy/certs/irc.pem
    server irc warframe-irc-server:6696 ssl verify none ssl-min-ver TLSv1.2 ssl-max-ver TLSv1.2 ciphers AES128-SHA:@SECLEVEL=1

listen irc_tls_6697
    bind :6697 ssl crt /usr/local/etc/haproxy/certs/irc.pem
    server irc warframe-irc-server:6697 ssl verify none ssl-min-ver TLSv1.2 ssl-max-ver TLSv1.2 ciphers AES128-SHA:@SECLEVEL=1

listen irc_tls_6698
    bind :6698 ssl crt /usr/local/etc/haproxy/certs/irc.pem
    server irc warframe-irc-server:6698 ssl verify none ssl-min-ver TLSv1.2 ssl-max-ver TLSv1.2 ciphers AES128-SHA:@SECLEVEL=1

listen irc_tls_6699
    bind :6699 ssl crt /usr/local/etc/haproxy/certs/irc.pem
    server irc warframe-irc-server:6699 ssl verify none ssl-min-ver TLSv1.2 ssl-max-ver TLSv1.2 ciphers AES128-SHA:@SECLEVEL=1
